header {  
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #e4edf4;  

  .headerInner {    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
  }

  nav {    
    display: flex;    
    .p_button {
      padding: 12px 24px;
      border-radius: 50px;
    }
  }
}
